/* @charset "utf-8";
*{box-sizing: border-box;}

body{margin: 0; padding: 0; line-height: 1.5; counter-reset: unset;}
.c-grid{padding: 2rem;}
.item{position: relative; background-size: cover; border: 3px solid #fff; background-position: center; background-repeat: no-repeat; display: flex; justify-content: center; align-items: center;}
.item::before{counter-increment: unset; content: counter(unset); position: absolute; top: 0; left: 0; background: green; color: white; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; text-align: center;}
.item:nth-child(1){height: 150px; background: skyblue;}
.item:nth-child(2){height: 450px; background: rgb(242, 50, 50);}
.item:nth-child(3){height: 300px; background: rgb(239, 186, 40);}
.item:nth-child(4){height: 3000px; background: rgb(206, 230, 23);}
.item:nth-child(5){height: 400px; background: rgb(39, 220, 19);}
.item:nth-child(6){height: 200px; background: rgb(235, 135, 232);}
figure{padding: 0 2rem; max-width: 0; text-align: center;}
blockquote{margin-bottom: 1rem;} */

*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    counter-reset: set;
}
.c-grid{padding: 2rem;}
.item{
    position: relative;
    background-size: cover;
    border: 3px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item::before{counter-increment: set; content: counter(set); position: absolute; top: 0; left: 0; background: green; color: white; width: 1.5rem; height: 1.5rem; line-height: 1.5rem; text-align: center;}
.item:nth-child(6n){height: 150px; background: rgb(239, 172, 172);}
.item:nth-child(6n-1){height: 450px; background: rgb(212, 239, 172);}
.item:nth-child(6n-2){height: 300px; background: rgb(172, 220, 239);}
.item:nth-child(6n-3){height: 300px; background: rgb(179, 172, 239);}
.item:nth-child(6n-4){height: 400px; background: rgb(228, 172, 239);}
.item:nth-child(6n-5){height: 200px; background: rgb(239, 172, 187);}
figure{padding: 0 2rem; margin: 0; text-align: center;}
blockquote{margin-bottom: 1rem;}

@media screen and (min-width:768px) {
    .c-grid{display: flex;
         flex-wrap: wrap;
        /* 컨텐츠 넘는거 밑으로 떨굼 */
        flex-direction: column;
        height: 100vh;
        }
    figure{padding: 0; max-width: 10vw;}
    .item:nth-child(6n){height: 40%;}
    .item:nth-child(6n-1){height: 30%;}
    .item:nth-child(6n-2){height: 30%;}
    .item:nth-child(6n-3){height: 50%;}
    .item:nth-child(6n-4){height: 75%;}
    .item:nth-child(6n-5){height: 25%;}
}
