@charset "utf-8";
@import url(./reset.css);

body{background: pink;}
#wrap{width: 1440px; height: 800px; background: blue;}
#header{width: 100%; height: 100px; background: red;}
#aside{width: 30%; height: 600px; background: green; float: left;}
/* float-left 하지않으면 안 붙음 */
#article{width: 70%; height: 600px; background: yellow;float: left;}
/* float-left 하지않으면 넓이가 다 안나옴 */
#footer{width: 100%; height: 100px; background: rgb(83, 187, 14); clear: both;}
/* clear-both 양쪽 */
/* 스크롤을 사라지게 하기위해 max-width가 1440이 되면 널이를 100%줘라 */
 @media screen and (max-width: 1440px) {
    #wrap{
        width: 100%;
    }
    
}  