body{padding: 50px;}

.container{
    display: grid; gap: 3px;/*  
    grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */ 
    /* 똑같은 비율로 나누기 1fr 1fr 1fr */
    /* grid-template-rows: 50px 50px; */
    /* grid-template-rows: repeat(2, 50px); */
    grid: repeat(2, 50px)/ repeat(3, 1fr);    
}

.container div{color: white; font-size: 20px; text-align: center;}
.container div:nth-child(1){background: red;}
.container div:nth-child(2){background: rgb(255, 162, 0);}
.container div:nth-child(3){background: rgb(255, 251, 0);}
.container div:nth-child(4){background: rgb(55, 255, 0);}
.container div:nth-child(5){background: rgb(0, 110, 255);}
.container div:nth-child(6){background: rgb(0, 81, 255);}
/* a는 nth안먹음 */
