@charset "utf-8";
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{margin: 0; padding: 0;}
body{font-family: 'Noto Sans KR', sans-serif;}

.box{width: 1000px; margin: 0 auto; background: #ddd; height: 500px;}
.container{display: flex;}
.container .item{width: 33.333%; height: 300px;}
.container .item1{background: rgb(255, 0, 212);}
.container .item2{background: rgb(0, 255, 17);}
.container .item3{background: red;}



@media screen and (max-width: 1000px){
    .box{width: 100%;}
    .container{flex-direction: column; justify-content: center; height: 500px; align-items: center;}
    /* column을 쓰면 item들이 주가되어 가운데에 맞춰지고 높이값을 주고 justigy-content:center;를 주면 정 가운데로 온다 */
    .container .item{width: 50%; height: 100px;}
}