/* 연습해본것 */

@charset "urf-8";
@import url('reset.css');

/* sideMenu를 기준으로 띄워서 갈것 */
#sideMenu{width: 155px; height: auto; background: yellow; position: relative;}
#sideMenu .menu{}
#sideMenu .menu h1{height: 188px; background: url(../image/logo.png) no-repeat;}
/* 로고 적는 칸 */
#sideMenu .menu > ul{margin-top: 20px;}
/* h1와 공간이 필요하다면 마진 */
#sideMenu .menu > ul > li{width: 100%; height: 52px; border-bottom: 1px solid black; background: url(../image/snbLeft1.png) no-repeat;}
/* li 각각들에게 간격주기 */
/* -주는 이유는 밀리게해서 보이게하려고 */
#sideMenu .menu > ul > .menu1{background-position: 0 0;}
#sideMenu .menu > ul > .menu1:hover{background-position: -155px 0;}
#sideMenu .menu > ul > .menu2{background-position: 0 -52px;}
#sideMenu .menu > ul > .menu2:hover{background-position: -155px -52px;}
#sideMenu .menu > ul > .menu3{background-position: 0 -104px;}
#sideMenu .menu > ul > .menu3:hover{background-position: -155px -104px;}
#sideMenu .menu > ul > .menu4{background-position: 0 -156px;}
#sideMenu .menu > ul > .menu4:hover{background-position: -155px -156px;}
#sideMenu .menu > ul > .menu5{background-position: 0 -208px;}
#sideMenu .menu > ul > .menu5:hover{background-position: -155px -208px;}
#sideMenu .menu > ul > .menu6{background-position: 0 -260px;}
#sideMenu .menu > ul > .menu6:hover{background-position: -155px -260px;}
#sideMenu .menu > ul > .menu7{background-position: 0 -312px;}
#sideMenu .menu > ul > .menu7:hover{background-position: -155px -312px;}
#sideMenu .menu > ul > .menu8{background-position: 0 -364px;}
#sideMenu .menu > ul > .menu8:hover{background-position: -155px -364px;}
#sideMenu .menu > ul > .menu9{background-position: 0 -416px;}
#sideMenu .menu > ul > .menu9:hover{background-position: -155px -416px;}
/* 안에 들어오는 이미지 바꾸기 */
/* :hover하면 위치가 x축으로 바뀌어서 보이는것들*/
#sideMenu .menu > ul > li > a{display: block; width: 100%; height: 100%;}
/* 손가락 표시로보이기 위해서 */

/* 2deps */
#sideMenu .menu  > ul > li > ul > li{position: absolute; top: 0; left: 155px; width: 126px; height: 100vh; background: yellowgreen; display: none;}
#sideMenu .menu > ul > .menu1 > ul{display: block;}
/* 첫번째 있는 친구들이 보이게 하기위해서 */
#sideMenu .menu > ul > li:hover > ul{display: block;}
/* 각가의 메뉴를 눌르면 ul들이 보임 */

#sideMenu .menu > ul > .menu1 > ul li{background: url(../image/snbLeft1A.png) no-repeat;}
#sideMenu .menu > ul > .menu2 > ul li{background: url(../image/snbLeft2A.png) no-repeat;}
#sideMenu .menu > ul > .menu3 > ul li{background: url(../image/snbLeft3A.png) no-repeat;}
#sideMenu .menu > ul > .menu4 > ul li{background: url(../image/snbLeft4A.png) no-repeat;}
#sideMenu .menu > ul > .menu5 > ul li{background: url(../image/snbLeft5A.png) no-repeat;}
#sideMenu .menu > ul > .menu6 > ul li{background: url(../image/snbLeft6A.png) no-repeat;}
#sideMenu .menu > ul > .menu7 > ul li{background: url(../image/snbLeft7A.png) no-repeat;}
#sideMenu .menu > ul > .menu8 > ul li{background: url(../image/snbLeft8A.png) no-repeat;}
#sideMenu .menu > ul > .menu9 > ul li{background: url(../image/snbLeft9A.png) no-repeat;}
/* sub에 들어가는 이미지 통으로 넣기 */

#sideMenu .menu > ul > li > ul > li{width: 100%; height: 115px; border-bottom: 1px solid black;}
/* li가각 하나에 높이를 정의 */
#sideMenu .menu > ul > .menu1 > ul > .sub11{}
#sideMenu .menu > ul > li > ul > li > a{}
#sideMenu .menu > .menu-phone{width: 100%; height: 176px; background: url(../image/tel.png) no-repeat; border-bottom: 1px solid black;}
#sideMenu .menu > .menu-familysite{width: 100%; height: 27px; background: url(../image/family.jpg) no-repeat 0 -27px;}
#sideMenu .menu > .menu-familysite:hover{width: 100%; height: 27px;  background-position:  0 0px;}






































/* #side-menu{}
#side-menu .menu{}
#side-menu .menu h1{}
#side-menu .menu > ul{}
#side-menu .menu > ul > li{}
#side-menu .menu > ul > .menu1{}
#side-menu .menu > ul > li > a{}
#side-menu .menu > ul > li > ul{}
#side-menu .menu > ul > li > ul > li{}
#side-menu .menu > ul > .menu > ul > .sub1{}
#side-menu .menu > ul > li > ul > li > a{}
#side-menu .menu > .menu-phone{}
#side-menu .menu > .menu-familysite{} */
/*  */