@charset "utf-8";
@import url('reset.css');

body{font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Nanum Brush Script', cursive; */}
/* 공통속성 */
.container{width: 990px; height: inherit; margin: 0 auto; background: rgba(0,0,0,.4);}

/* 레이아웃 */
#header{width: 100%; height: 325px; background: url(../img/header_bg.jpg) repeat-x center top;}
#contents{width: 100%; height: 1100px; background: yellowgreen;}
/* 컨텐트 양만큼 늘어남 auto */
#footer{width: 100%; height: 160px; background: #ddd;}


/* 헤더역영 */
.header-menu{text-align: right;}
.header-menu a{color: white; display: inline-block; padding: 10px 0 10px 13px;}
.header-menu a:hover{color: #666;}
.header-tit{text-align: center;}
.header-tit h1{background: white; font-size: 28px; padding: 5px 20px 6px 20px; display: inline-block; color: #333; margin-top: 60px; box-shadow: 5px 5px 10px black; text-transform: uppercase;}
.header-tit a{display: inline-block; background: #fff; color: #9b9b8c; padding: 5px 20px 6px; box-shadow: 5px 5px 10px black; margin-top: -8px; font-size: 18px;}

/* 본문내용 */
.cont_nav{background: #ddd; height: auto; display: none;}
.cont_nav .nav{overflow: hidden; padding: 30px 0;}
.cont_nav .nav>div{float: left; width: 40%;}
.cont_nav .nav>div:last-child{width: 20%;}
.cont_nav .nav>div h3{color: #182acb; font-size: 18px; margin-bottom: 5px; font-weight: bold;}
.cont_nav .nav>div ol{overflow: hidden;}
.cont_nav .nav>div ol li{float: left; width: 50%;}
.cont_nav .nav>div:last-child ol li{width: 100%;}
.cont_tit{width: 100%; background: white;}
.cont_tit .tit{position: relative; background: red;}
.cont_tit .tit h2{text-align: center; color: #8e8a7b; font-size: 40px; padding: 5px 0;}

.cont_tit .tit .btn{position: absolute; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px; top: 5px; right: 0;}
.cont_tit .tit .btn.on{background-position: 0 -660px;}

.cont_ban{width: 100%; padding: 30px 0; background: #ccc;}

swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }